<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.libertyseguros.mobile" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <!--Para GPS e mapa-->

    <permission
        android:name="br.com.libertyseguros.mobile.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="br.com.libertyseguros.mobile.permission.MAPS_RECEIVE"/>

    <!--Para push notification -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="br.com.libertyseguros.mobile.permission.C2D_MESSAGE" />
    <permission
        android:name="br.com.libertyseguros.mobile.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="br.com.MondialAssistance.Liberty.common.CustomApplication"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCyPgeh4Hi9nlPcsGHsKCIJPYZV4v_oPUw" />

        <!--ANTIGO-->
        <receiver
            android:name="br.com.libertyseguros.mobile.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="br.com.libertyseguros.mobile.activity" />
            </intent-filter>
        </receiver>
        <service
            android:name="br.com.libertyseguros.mobile.gcm.GcmIntentService"
            android:enabled="true">
        </service>

        <!--<receiver-->
            <!--android:name="com.google.android.gms.gcm.GcmReceiver"-->
            <!--android:exported="true"-->
            <!--android:permission="com.google.android.c2dm.permission.SEND" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
                <!--<action android:name="com.google.android.c2dm.intent.REGISTRATION"/>-->
                <!--<category android:name="com.example.gcm" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--<service-->
            <!--android:name="br.com.libertyseguros.mobile.gcm.MyGcmListenerService"-->
            <!--android:exported="false" >-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!--<service-->
            <!--android:name="br.com.libertyseguros.mobile.gcm.MyInstanceIDListenerService"-->
            <!--android:exported="false">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.android.gms.iid.InstanceID"/>-->
            <!--</intent-filter>-->
        <!--</service>-->



        <activity
            android:name="br.com.libertyseguros.mobile.activity.LibertyMobile"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<meta-data android:name="com.google.android.gms.analytics.globalConfigResource" android:resource="@values/analytics" />-->

        <activity
            android:name="br.com.libertyseguros.mobile.activity.MenuPrincipalActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />

        <activity
            android:name="br.com.libertyseguros.mobile.activity.OficinasReferenciadasActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.OficinasReferenciadasBuscaActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.OficinasReferenciadasListaActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.ComunicacaoAcidenteActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.ClaimListActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.ComunicacaoAcidenteDetalheActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="br.com.libertyseguros.mobile.activity.ComunicacaoAcidenteApolicesActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.MyInfoActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.ClaimTypeActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name=".activity.DateTimePickerActivity"
            android:theme="@android:style/Theme.Panel"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.AddressLocationActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.LocationActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.CollectContactInfoActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.OtherDriverActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.WitnessActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.PoliceInformationActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.PicturesActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.NotesActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.VoiceNotesActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.CompartilharDadosActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.MinhasApolicesActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="br.com.libertyseguros.mobile.activity.MinhasApolicesAnterioresActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="br.com.libertyseguros.mobile.activity.MinhasApolicesDetalheActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="br.com.libertyseguros.mobile.activity.MinhasApolicesParcelasActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="br.com.libertyseguros.mobile.activity.LoginActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="br.com.libertyseguros.mobile.activity.LoginRecuperacaoActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="br.com.libertyseguros.mobile.activity.ClubeLibertyActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="br.com.libertyseguros.mobile.activity.ClubeLibertyLocaisActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="br.com.libertyseguros.mobile.activity.ClubeLibertyLocaisDetalheActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="br.com.libertyseguros.mobile.activity.ClubeLibertyLocaisMapaActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation" />
        <activity
            android:name="br.com.libertyseguros.mobile.activity.AtendimentoActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.PoliticaPrivacidadeActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.NotificacaoConsultaActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.gcm.NotificacaoAlertActivity"
            android:theme="@style/Theme.Transparent"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>
        <activity
            android:name="br.com.libertyseguros.mobile.activity.CadastroSeguradoActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged"
            android:configChanges="keyboardHidden|orientation"/>

        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenSearchPolicies" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenListPolicies" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenMainMenu" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenRegisterPhoneNumber" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenSelectLob" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenNewAssistance" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenCauses" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenProblems" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenServices" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenMapLocation" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenSearchAddress" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenAddress" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenAddressReference" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenMyFiles" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenFileDetails" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenAccreditedEstablishment" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenAccreditedEstablishmentDetails" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenSchedule" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenMapFollowProvider" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        <!--&lt;!&ndash;<activity android:name="br.com.MondialAssistance.DirectAssist.Activities.CtrlMapOverlayPopUp" android:label="@string/app_name" android:screenOrientation="portrait"></activity>&ndash;&gt;-->
        <activity android:name="br.com.MondialAssistance.Liberty.Activities.ScreenPolicyDetails" android:label="@string/app_name" android:screenOrientation="portrait"></activity>
        
    </application>

</manifest>
